body {
  background: #054473;
}

a,
.la-ball-triangle-path {
  color: #054473;
}

a:hover,
#header.nav-solid nav a:hover {
  color: #f5f5f5;
}

.icon i {
  color: #333;
}

#banner .section-heading:before,
.testimonial.classic footer:before {
  background: #333;
}

#header nav a,
#header i {
  color: #f5f5f5;
}

#header.nav-solid,
#header.nav-solid a,
#header.nav-solid i,
#nav-mobile ul li a {
  color: #333;
}

#header.nav-solid .active {
  color: #f5f5f5;
  border-color: #f5f5f5;
}

.primary-color,
.featured .pricing {
  background-color: #d2b356;
}

.primary-color,
.primary-color .section-title,
.primary-color .section-subtitle,
.featured .pricing,
.featured .pricing p {
  color: #054473;
}

.section-heading h2:after {
  background: #333;
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  margin-top: 30px;
}

.text-center .section-heading h2:after {
  margin: 30px auto 25px auto;
}

.primary-color .icon i,
.primary-color i {
  color: #054473;
}

.secondary-color {
  background-color: #054473;
}

#banner {
  background: url("../images/KenyattaUnivComputerCentre.jpg") no-repeat center
    top;
  background-size: cover;
}

body {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 15px;
  font-weight: normal;
  color: #999;
}

#logo h1 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 62px;
  line-height: 60px;
  font-weight: 800;
  color: #f5f5f5;
}

#banner h1 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 62px;
  line-height: 60px;
  font-weight: 800;
  color: #f5f5f5;
}

#banner h2 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 27px;
  font-weight: 300;
  color: #fff;
}

.section-title {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 34px;
  font-weight: 700;
  color: #111;
}

.section-subtitle {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 16px;
  font-weight: 300;
  color: #9c9c9c;
}

.testimonial q {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 17px;
  font-weight: 300;
  color: #999;
}

.testimonial.classic footer {
  color: #111;
}

h1 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 40px;
  font-weight: 300;
  color: #111;
}

h2 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 34px;
  font-weight: 300;
  color: #111;
}

h3 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 30px;
  font-weight: 700;
  color: #111;
}

h4 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 18px;
  font-weight: 400;
  color: #111;
}

h5 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 16px;
  font-weight: 400;
  color: #111;
}

h6 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #111;
}

#landing-footer,
#landing-footer p,
#landing-footer a {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 12px;
  font-weight: normal;
  color: #999;
}

#landing-footer i {
  color: #999;
}
